boto==2.6.0
celery==3.0.19
celery-with-redis==3.0
Django==1.5
django-allauth==0.10.1
django-analytical==0.15.0
django-celery==3.0.11
django-facebook==5.3.1
django-gravatar2==1.1.4
django-guardian==1.1
django-haystack==1.2.7
django-nose==1.1
django-pipeline==1.3.6
dogstatsd-python==0.2
django-request-provider==1.0.2
django-ses==0.4.1
django-tastypie==0.9.15
gunicorn==0.17.2
lxml==3.0.1
mimeparse==0.1.3
mock==1.0.1
nose==1.2.1
path.py==3.1
python-memcached==1.48
pyyaml==3.10
selenium==2.40.0
south==0.7.6
tweepy==2.2
uuid==1.30
Whoosh==2.4.1
