{% extends "base.html" %}


{% block content %}
<section class="scroll-container bg-blue-light" role="main">
<section id="courses-banner-large">
		<h2 align="center">Welcome to CANSocial</h2>
		<h3 align="center" class="subheader">Share your interests, explores your friends and stay updated.</h3>
		<div class="row">
			<div class="small-12 large-12 columns">
	    		<div class="padded">
	    			<div class="small-12 large-4 columns">
	    				<div id="boxShare" class="panel bg-cayenne">
	    					<h3 align="center">SHARE</h3>
	    				</div>
	    			</div>
	    			<div class="small-12 large-4 columns">
	    				<div id="boxFind" class="panel bg-orange">
	    					<h3 align="center">FIND</h3>
	    				</div>
	    			</div>
	    			<div class="small-12 large-4 columns">
	    				<div id="boxEnjoy" class="panel bg-hemlock">
	    					<h3 align="center">ENJOY</h3>
	    				</div>
	    			</div>
	    		</div>
    		</div>
		</div>
</section>
<div class="row">
	<div class="small-12 large-12 columns padded">
		{% if form.errors %}
		<div data-alert class="alert-box alert">
            {{ form.errors }}
            <a href="#" class="close">&times;</a>
        </div>
        {% endif %}
	</div>
</div>
<div class="row">
	<div class="small-12 large-4 columns padded">
		<div class="panel radius">
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
				<div class="row">
					<div class="small-12 large-12 columns">
						<h2>Sign In</h2>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<label>Username
							<input type="text" name="username" placeholder="Username">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<label>Password
							<input type="password" name="password" placeholder="Password">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-6 large-6 columns right">
						<input class="button radius right" type="submit" value="Sign In">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="small-12 large-8 columns padded">
		<div class="panel radius">
			<form method="post" action="{% url 'user_app.views.signup' %}">
			{% csrf_token %}
				<div class="row">
					<div class="small-12 large-12 columns">
						<h2>Are you new? Join with us</h2>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<label>Username
							<input type="text" name="username" placeholder="Username">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<label>Password
							<input type="password" name="password" placeholder="Password">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<label>Email
							<input type="text" name="email" placeholder="Email">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<label>First Name
							<input type="text" name="first_name" placeholder="First Name">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<label>Last Name
							<input type="text" name="last_name" placeholder="Last Name">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-6 large-6 columns right">
						<input class="button radius success right" type="submit" value="Sign Up">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</section>
{% endblock %}

{% block scripts %}
<script>
	$( "div#boxShare" )
		.mouseover(function() {
			$( this ).find( "h3" ).text( "Share all" );
		})
		.mouseout(function() {
		$( this ).find( "h3" ).text( "SHARE" );
	});
	$( "div#boxFind" )
		.mouseover(function() {
			$( this ).find( "h3" ).text( "Find your friends" );
		})
		.mouseout(function() {
		$( this ).find( "h3" ).text( "FIND" );
	});
	$( "div#boxEnjoy" )
		.mouseover(function() {
			$( this ).find( "h3" ).text( "Simply, Enjoy!" );
		})
		.mouseout(function() {
		$( this ).find( "h3" ).text( "ENJOY" );
	});
</script>
{% endblock %}